server {
    listen 80;
    listen [::]:80;
    server_name www.{{ domain }};

    # Redirect www to non-www
    return 301 http://{{ domain }}$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ domain }};

    # Servir l'application React (en HTTP simple)
    root {{ nginx_server_root }};
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    # Reverse Proxy pour l'API Node.js
    location /api/ {
        proxy_pass http://localhost:9000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # Logs
    access_log /var/log/nginx/react_node_access.log;
    error_log /var/log/nginx/react_node_error.log;
}
